*{
    margin:0;
    padding: 0;
}
body {
    font-size: 16px;
}
header {
    align-items: center;
    background-color: bisque;
    justify-content: space-between;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    font-size: 1em;
    text-decoration: none;
}
header div{
    display: flex;
    justify-content: center;
}
header a {
    font-size: 50px;
    text-decoration: none;
    color: hwb(24 18% 23%);
    padding: 10px;
}
header p {
    padding: 15px;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: hwb(24 18% 23%);
}
footer {
    padding: 15px;
    background-color: bisque;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer p {
    color: hwb(24 18% 23%);
    font-size: large;
}