.banner-index {
    position: relative;
}

.banner-index img {
    width: 100%;
    opacity: 50%;
    filter: sepia(25%);
    filter: contrast(125%);
}

.banner-index form {
    position: absolute;
    font-size: 3em;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

form input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid black;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.produtos {
    text-align: center;
    padding: 20px;
}

.item {
    border: 2px solid black;
    width: 25%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px #333;
    transition: transform 2000ms ease;

}

.item:hover {

    cursor: pointer;
}

.item img {
    width: 100%;
}

.secao-items {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}
.secao-items2 {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}