h1 {
    font-size: 3em;
    margin-left: 15%;
    margin-top: 10px;

}/*tamanho do texto do h1 e a margem */

.img {
    height: 80%;
}/*altura da imagem */

.img img {
    border-radius: 20px;
}  /*borda arredondada da imagem */

.img-inform {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 20%;
    margin-top: 10px;
}/*configurando o espaçamento entre a imagem e as informações do produto */

.inform {
    margin-left: 10%;
}/*configurando o espaçamento entre a imagem e as informações do produto */

.rating {
    font-size: 2em;
    margin-bottom: 40px;
    margin-top: 40px;
    color: rgb(212, 184, 23);
}/*configurando o tamanho, cor e espaçamento das estrelas para com os outros elementos da página*/

.seller {
    font-size: 2em;
    margin-bottom: 40px;
}/*tamanho e espaçamento do nome do vendedor em relação aos outros elementos da página*/

.price {
    font-size: 2em;
    margin-bottom: 80px;
}/*tamanho da fonte e da margem na parte de baixo*/

.price strong {
    font-size: 2.5em;
}/*semantica do site, adicinar negrito ao texto*/

.add_cart {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10%;
    background-color: green;
}/*configurando a borda, arredondamento, alinhamento do texto, espaçamento interno e cor de fundo do botão de adicionar ao carrinho */

.add_cart a {
    text-decoration: none;
    font-size: 2em;
    color: white;
}/*decoração do link do botão*/

#sofaid {
    height: 600px;
}/*altura da imagem */

#mesaid {
    height: 600px;
} /*altura da imagem */

#lustreid {
    height: 600px;
} /*altura da imagem */

#armarioid {
    height: 600px;
} /*altura da imagem */

#guardaid {
    height: 600px;
} /*altura da imagem */