.main-login {
    display: flex;
    justify-content: center;
}
.login-container {
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
    width: 50%; 
    box-shadow: 0px 0px 20px #333;
}
.login-container h2 {
    font-size: 32px;
}
.LOGIN{
    justify-content: flex-start;
    width: 21%;
}
form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
form label {
    font-size: 24px;
    padding: 3px;
}
input {
    border-radius: 20px;
    padding: 5px;
}
input[type='submit'] {
    width: 50%;
    padding: 3px;
    border-radius: 10px;
    background-color: #333;
    color: aliceblue;
    font-size: 1em;
    margin-top: 20px;
}
input[type='submit']:hover{
    cursor: pointer;
}
.esqueceu a {
    color: black;
    text-decoration: none;
}
.esqueceu a:hover {
    color: red;
    cursor: pointer;
}